services:
  postgres:
    image: postgres:16-alpine
    container_name: computer_postgres
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: password
      POSTGRES_DB: computer_db
    ports:
      - "5433:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data
    networks:
      - computer_net
    healthcheck:
      test: [ "CMD-SHELL", "pg_isready -U postgres" ]
      interval: 10s
      timeout: 5s
      retries: 5

  pgadmin:
    image: dpage/pgadmin4
    container_name: computer_pgadmin
    environment:
      PGADMIN_DEFAULT_EMAIL: admin@admin.com
      PGADMIN_DEFAULT_PASSWORD: root
    ports:
      - "5050:80"
    depends_on:
      - postgres
    networks:
      - computer_net

  redis:
    image: redis:7-alpine
    container_name: computer_redis
    ports:
      - "6379:6379"
    volumes:
      - redis_data:/data
    networks:
      - computer_net
    healthcheck:
      test: [ "CMD", "redis-cli", "ping" ]
      interval: 10s
      timeout: 3s
      retries: 5

  rabbitmq:
    image: rabbitmq:3-management-alpine
    container_name: computer_rabbitmq
    environment:
      RABBITMQ_DEFAULT_USER: guest
      RABBITMQ_DEFAULT_PASS: guest
    ports:
      - "5672:5672"
      - "15672:15672"
    volumes:
      - rabbitmq_data:/var/lib/rabbitmq
    networks:
      - computer_net
    healthcheck:
      test: rabbitmq-diagnostics -q ping
      interval: 30s
      timeout: 10s
      retries: 5

  backend:
    build:
      context: ..
      dockerfile: backend/Dockerfile
    container_name: computer_backend
    ports:
      - "5000:8080" # Map container 8080 to host 5000
    environment:
      - ConnectionStrings__DefaultConnection=Host=postgres;Database=computer_db;Username=postgres;Password=password
      - ConnectionStrings__RabbitMQ=amqp://guest:guest@rabbitmq:5672
      - ConnectionStrings__Redis=redis:6379
      - Jwt__Key=super_secret_key_1234567890123456
      - Jwt__Issuer=QuangHuongComputer
      - Jwt__Audience=QuangHuongComputer
      - ASPNETCORE_ENVIRONMENT=Development
    depends_on:
      postgres:
        condition: service_healthy
      redis:
        condition: service_healthy
      rabbitmq:
        condition: service_healthy
    networks:
      - computer_net

  frontend:
    build:
      context: ../frontend
      dockerfile: Dockerfile
    container_name: computer_frontend
    ports:
      - "3000:80" # Nginx serves on 80
    environment:
      - VITE_API_BASE_URL=http://localhost:5000/api
    depends_on:
      - backend
    networks:
      - computer_net

volumes:
  postgres_data:
  redis_data:
  rabbitmq_data:


networks:
  computer_net:
    driver: bridge
